<table class='table table-striped'>
    <tr>
        <th>Name</th>
        <th>Job</th>
        <th>Wage</th>
        <th>Action</th>

    </tr>

    {{#employees}}
        <tr>
            <td>
                <a href='detail.php?employeeId={{employee_id}}'>{{name}} {{surname}}</a>
            </td>
            <td>{{job}}</td>
            <td>{{wage}}</td>

            <td>
                    <form action="update.php" method="get" style="display: inline-block">
                        <input type="hidden" name="employeeId" value="{{employee_id}}">
                        <input disabled type="submit" value="Upravit" class="btn btn-info">
                    </form>
                    <form action="delete.php" method="post" style="display: inline-block">
                        <input type="hidden" name="employeeId" value="{{employee_id}}">
                        <input disabled type="submit" value="Smazat" class="btn btn-danger" onclick="return confirm('Opravdu chcete smazat employee?\nAkce je nevratná!');">
                    </form>
            </td>
        </tr>
    {{/employees}}
    {{^employees}}
        <tr><td colspan="3">Databáze je prázdná</td></tr>
    {{/employees}}
</table>

<button disabled class="btn btn-primary">Přidej nového zaměstance</button>

