    <nav>
        <h1>Prohlížeč databáze zaměstnanců</h1>
        <ul>
            <li><a href="/room/list.php">Místnosti</a></li>
            <li><a href="/staff/list.php">Lidé</a></li>
            <li><a href="/index.php">Menu</a></li>
    </nav>